# Core
streamlit==1.45.1
fastapi==0.115.12
uvicorn==0.34.2

# ML
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
numpy==1.26.4
torch==2.6.0
torchvision==0.21.0

# Logging
wandb==0.19.11

# Utils
tqdm==4.67.1
pydantic==2.11.4
python-dotenv==1.1.0
loguru==0.7.3

# Testing
pytest==8.3.5
pytest-asyncio==0.26.0
httpx==0.28.1